.navbarfarve{
    background-color: #000000;
}

.navbarTekst{
    color: #fff387;
    font-size: 22px;
    padding-top: 30px; /* ekstra padding for top ellers kom teksten helt op til kanten af siden, klamt */
}

.Cabincon{
    font-family: "Cabin Condensed", sans-serif;
}

.informationspadding{
    padding-left: 10px;
}
