.navbarfarve{
    background-color: #000000;
}

.navbarTekst{
    color: #fff387;
    font-size: 20px;
    padding-top: 30px; /* ekstra padding for top ellers kom teksten helt op til kanten af siden, klamt */
}

.informationspadding{
    padding-left: 10px;
}