.farveSort{
    background-color: #000000;
}
.farveHvid{
    color: #ffffff;
}
.farveZealand{
    background-color: #fff387;
}

.navbarTekst{
    color: #fff387;
    font-size: 22px;
    padding-top: 30px; /* ekstra padding for top ellers kom teksten helt op til kanten af siden, klamt */
}

.cabinCon{
    font-family: "Cabin Condensed", sans-serif;
}


.informationspadding{
    padding-left: 10px;
}

.forsideTextpadding{
    padding-top: 100px;
}

.footerLinje{
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #ffffff /* got this shit from this guy https://stackoverflow.com/a/30065540 */
}



/* purely kun brugt i InfoTild.html */
.infoKort {
    background: none;
    border: none;
    text-align: center;
}

.infoKort img {
    width: 100%;
    height: 280px;
    object-fit: cover;
}

.begivenInforkort {
    background-color: #fff58a;
    padding: 40px;
    text-align: left;
}

.forsideogom-img {
    max-height: 500px;       /* Stopper billedet fra at blive gigantisk */
    object-fit: cover;       /* Beskærer pænt */
}

@media (min-width: 768px) {
    .forsideogom-img {
        height: 100vh;
    }
}